
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <form method="post" action="/home/login">
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="text" class="form-control" id="email" name="email" placeholder="Digite seu e-mail">
                @Html.ValidationMessage("email")
            </div>
            <div class="form-group">
                <label for="Senha">Senha:</label>
                <input type="password" class="form-control" id="Senha" name="Senha" placeholder="Digite sua Senha">
                @Html.ValidationMessage("nome")
            </div>
            <button type="submit" class="btn btn-primary">Logar</button>
        </form>
        @ViewBag.Mensagem

    </div>
</body>
</html>
